* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#usersTable {
  padding: 1em;
  border: 1px solid black;
  width: fit-content;
  margin-top: 1em;
}

#usersTable td {
  padding: 1em;
}

#usersTable button {
  padding: 0.2em;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 50%;
}

button:hover {
  transform: rotate(180deg);
  transition: ease-in-out 0.3s;
  color: red;
}

.msg {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
