<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>reCaptcha Successfull</title>
  </head>
  <body>
    <div class="msg">
      <h1>reCaptcha Solved Successfully and form submitted!</h1>
      <div id="usersTable"></div>
    </div>

    <!-- script to display db data in table format -->
    <script>
      window.onload = function () {
        fetch("/get-users")
          .then((response) => response.json())
          .then((data) => {
            const table = createTable(data);
            document.getElementById("usersTable").appendChild(table);
          })
          .catch((error) => console.log("Error", error));
      };

      //function handling table creation
      function createTable(users) {
        const table = document.createElement("table");

        //add table headers
        const headerRow = table.insertRow();
        ["First Name", "Last Name", "Email", "Button"].forEach((headerText) => {
          let header = document.createElement("th");
          header.textContent = headerText;
          headerRow.appendChild(header);
        });

        //Add row
        users.forEach((user) => {
          const row = table.insertRow();
          row.id = `user-row-${user.id}`;
          ["fname", "lname", "email"].forEach((column) => {
            const cell = row.insertCell();
            cell.textContent = user[column];
          });
          const deleteCell = row.insertCell();
          const deleteBtn = document.createElement("button");
          deleteBtn.textContent = "X";
          deleteBtn.onclick = function () {
            deleteRow(user.id, row.id);
          };
          deleteCell.appendChild(deleteBtn);
        });
        return table;
      }

      //function to delete row
      function deleteRow(userID, rowID) {
        fetch(`/delete-user/${userID}`, { method: "DELETE" })
          .then((response) => {
            console.log(response);
            if (!response.ok) {
              throw new Error("Network response was not ok");
            }
            return response.json();
          })
          .then((data) => {
            if (data.success) {
              //removing the row from the table
              const row = document.getElementById(rowID);
              row.parentNode.removeChild(row);
            } else {
              console.error("Failed to delete user");
            }
          })
          .catch((error) => console.error("Erorr : ", error));
      }
    </script>
  </body>
</html>
